<footer class="footer oersi-background-color-paper oersi-textcolor-secondary">
    <div class="footer-content">
        <div class="footer-content-row">
            <div class="footer-description-block footer-block">
                <h5>OERSI - Open Educational Resources Search Index</h5>
                <hr class="footer-title-divider oersi-divider-color"/>
                <div class="footer-description">A search index for Open Educational Resources in higher education</div>
            </div>
            <div class="footer-links-block footer-block">
                <h5>About</h5>
                <hr class="footer-title-divider oersi-divider-color"/>
                <ul>
                    <li>
                        <a class="oersi-textcolor-secondary" rel="noopener noreferrer" href="/resources/services/contact">Contact</a>
                    </li>
                    <li>
                        <a class="oersi-textcolor-secondary" rel="noopener noreferrer" href="http://my-domain.de/">Imprint</a>
                    </li>
                    <li>
                        <a class="oersi-textcolor-secondary" rel="noopener noreferrer" href="http://my-domain.de/">Privacy policy</a>
                    </li>
                    <li>
                        <a class="oersi-textcolor-secondary" rel="noopener noreferrer" href="http://my-domain.de/">Accessibility Statement</a>
                    </li>
                </ul>
            </div>
            <div class="footer-links-block footer-block">
                <h5>Technical</h5>
                <hr class="footer-title-divider oersi-divider-color"/>
                <ul>
                    <li>
                        <a class="oersi-textcolor-secondary" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/oersi">GitLab</a>
                    </li>
                    <li>
                        <a class="oersi-textcolor-secondary" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/groups/oersi/-/issues">Issues</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="footer-full-divider oersi-divider-color" />
        <div class="footer-logos">
            <div class="footer-logo">
                <!-- Add your logos here -->
                <!-- <a target="_blank" rel="noopener noreferrer" href="https://logo1.url"><img class="img-block" src="/resources/logo1.png" alt="Logo 1" /></a> -->
            </div>
            <div class="footer-logo">
                <!-- Add your logos here -->
                <!-- <a target="_blank" rel="noopener noreferrer" href="https://logo2.url"><img class="img-block" src="/resources/logo2.png" alt="Logo 2" /></a> -->
            </div>
        </div>
    </div>
</footer>
